<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center">
        <img src="../../assets/logo.png" alt="Logo" class="footer-logo">
       <br><i class="fa fa-info-circle"></i> IFC Church come let's pray together
      </div>
      <div class="col-lg-4 text-center">
        <p><i class="fas fa-address-book"></i> 123 Street, City, Country</p>
        <p><i class="fas fa-envelope"></i> ifcchurch&#64;gmail.com</p>
        <p><i class="fas fa-phone"></i> +919876578756</p>
        
      </div>
      <div class="col-lg-4 text-center">
        <p><i class="fas fa-copyright"></i> 2024 IFC Church Nashik</p>
        <p>All rights reserved</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <ul class="social-icons">
  <li><i class="fab fa-facebook fa-2x"></i></li>
  <li><i class="fab fa-youtube fa-2x"></i></li>
  <li><i class="fab fa-instagram fa-2x"></i></li>
  <i class="fa-brands fa-twitter fa-2x"></i>
</ul>

        </div>
    </div>
  </div>
</footer>
