<nav class="navbar navbar-expand-lg navbar-dark bg-maroon p-4">
  <div class="container">
    <a class="navbar-brand logo" href="#">
      <img src="../../assets/logo.png" alt="Logo"  class="logo" width="300" height="300">
    
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"> <!-- Changed mr-auto to ml-auto for right alignment -->
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home"  routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" style="margin-left: 15px;">
          <a class="nav-link" routerLink="/prayer" routerLinkActive="active">Prayer</a>
        </li>
        <li class="nav-item" style="margin-left: 15px;">
          <a class="nav-link" routerLink="/donet" routerLinkActive="active">Donation</a>
        </li>
        <li class="nav-item " style="margin-left: 15px;">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
