<div class="image-container">
  <img src="../../assets/header.jpg" alt="Image">
  <div class="image-text text-center">
   <b> Promise of the Year 2024</b>
    <hr>
    The LORD will protect you from all evil.<br>
    Psalms 121:7
  </div>
</div>
<div class="container mt-4">
  <div class="row" style="margin-bottom: 6%;" *ngFor="let item of data">
    <div class="col-md-7">
  <iframe width="600" height = "400" [src] = "getSafeUrl(item.link)" title = "YouTube video player" frameborder = "0" allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy = "strict-origin-when-cross-origin" allowfullscreen > </iframe>    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
              <h2>{{item.title}}</h2>
        </div>
        <div class="col-md-12">
          <h5>{{item.discription}}</h5>
        </div>
      </div>      
    </div> 
      
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6 text-center">
      <button class="btn m-1" [disabled]="left"  (click)="sub()"><i class="fa-solid fa-caret-left fa-2x"></i></button>
      <button class="btn m-1" [disabled]="right"  (click)="add()"><i class="fa-solid fa-caret-right fa-2x"></i></button>
       
    </div>
  </div>
 
<br>
<router-outlet></router-outlet>
