<h1 class="display-5 text-center">Prayer Request</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" formControlName="Name">
        <div *ngIf="form.get('Name').invalid && (form.get('Name').dirty || form.get('Name').touched)" class="error-message">
          <div *ngIf="form.get('Name').errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Request">Request</label>
        <input type="text" class="form-control" formControlName="Request">
        <div *ngIf="form.get('Request').invalid && (form.get('Request').dirty || form.get('Request').touched)" class="error-message">
          <div *ngIf="form.get('Request').errors.required">Request is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" formControlName="Email">
        <div *ngIf="form.get('Email').invalid && (form.get('Email').dirty || form.get('Email').touched)" class="error-message">
          <div *ngIf="form.get('Email').errors.required">Email is required.</div>
          <div *ngIf="form.get('Email').errors.email">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="PhoneNo">Phone Number</label>
        <input type="tel" class="form-control" formControlName="PhoneNo">
        <div *ngIf="form.get('PhoneNo').invalid && (form.get('PhoneNo').dirty || form.get('PhoneNo').touched)" class="error-message">
          <div *ngIf="form.get('PhoneNo').errors.required">Phone Number is required.</div>
          <div *ngIf="form.get('PhoneNo').errors.pattern">Invalid phone number format.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
      <button type="reset" class="btn btn-dark m-1">Reset</button>
    </div>
  </div>
</form>
